# This rule is not used by the project scalingo-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to databases.scalingo.com resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: scalingo-operator
    app.kubernetes.io/managed-by: kustomize
  name: postgresql-viewer-role
rules:
- apiGroups:
  - databases.scalingo.com
  resources:
  - postgresqls
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - databases.scalingo.com
  resources:
  - postgresqls/status
  verbs:
  - get
