apiVersion: databases.scalingo.com/v1alpha1
kind: PostgreSQL
metadata:
  labels:
    app.kubernetes.io/name: scalingo-operator
    app.kubernetes.io/managed-by: kustomize
  name: postgresql-sample
spec:
  # TODO(user): Add fields here
