apiVersion: databases.scalingo.com/v1alpha1
kind: PostgreSQL
metadata:
  labels:
    app.kubernetes.io/name: scalingo-operator
    app.kubernetes.io/managed-by: kustomize
  name: postgresql-sample
spec:
  authSecret:
    name: scalingo
    key: api_token
  connInfoSecretTarget:
    name: my-postgresql-secret
    prefix: PG

  name: my-dbng-name
  plan: postgresql-ng-starter-1024
  region: osc-st-fr1
  projectID: prj-da48cd16-6876-4200-91e1-ca7234d8bf44
