apiVersion: databases.scalingo.com/v1alpha1
kind: PostgreSQL
metadata:
  labels:
    app.kubernetes.io/name: scalingo-operator
    app.kubernetes.io/managed-by: kustomize
  name: postgresql-sample
spec:
  authSecret:
    name: scalingo
    key: api_token
  connInfoSecretTarget:
    name: my-postgresql-secret
    prefix: PG

  networking:
    firewall:
      rules:
        - type: "custom_range"
          cidr: "0.0.0.0/0"
          label: "My Custom Label"
        - type: "managed_range"
          range_id: "range-12345"

  name: my-dbng-name
  plan: postgresql-ng-enterprise-4096
  region: osc-fr1
  projectID: prj-88888888-4444-4444-4444-cccccccccccc
