name: CI

on:
  pull_request:
  push:
    branches: [main, master, prod]

# The list of permissions is explained on the GitHub doc:
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions:
  contents: read

jobs:
  linter:
    name: Linter on a PR
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: Scalingo/actions/go-linter@main

  tests:
    name: Unit Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Tests
        run: |
          make setup-envtest
          ls -lR bin
          chmod -R u+w bin
          ls -lR bin

      - name: Execute Tests
        uses: Scalingo/actions/go-tests@main
